/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

:root{
--padding-container: 100px 0;
--colorGreen: #92ff73;
--colorYellow: #fdfd5f;
--colorBlue: #180781;
--colorMagenta: #b70488;
--colorPink: #ff4e92;
--font-primary: "Sedgwick Ave Display", serif;
--font-secundary: "Alkatra", serif;
--font-text: "Cinzel", serif;
}

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    background: var(--colorGreen);
    align-items: center;
}

.container__ImgLogo{
    width: 40%;
    margin: auto;
}

.img__Logo{
    display: flex;
    width: 15%;
    animation: animationLogo 2s 0.5s forwards;
}

@keyframes animationLogo {
    0% {
    transform: translateY(0) rotateY(-100deg);
    }
    100% {
    transform: translateY(0) rotateY(0);
    }
}

.text__Logo{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    font-family: var(--font-primary);
    color: var(--colorBlue);
}

.container__LinkNav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.container__btn{
    width: 9.5rem;
    padding: 7px 0;
    margin-right: 10px;
    text-align: center;
    border-radius: 80px 20px;
}

.container__btn a{
    font-family: var(--font-secundary);
    color: var(--colorBlue);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.container__btn a:hover{
    color: var(--colorMagenta); text-shadow: black 0.1em 0.1em 0.2em;
    transition: background 0.7s;
}

/*MENU HAMBURGUER*/
.hamburguer {
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--colorBlue);
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}

.show-menu #lineOne {
    transform: rotate(45deg) translate(0.3rem, 0.45rem);
}

.show-menu #lineTwo {
    opacity: 0;
    visibility: hidden;
}

.show-menu #lineThree {
    transform: rotate(-45deg) translate(0.3rem, -0.45rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7048791;
    color: var(--colorBlue);
    font-family: var(--font-secundary);
    opacity: 0;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: 0.5rem solid #b7048791;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -1rem;
}  

.show-menu .hamburguer:hover span {
    opacity: 1;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #91ff73be;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 1;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    list-style: none;
    width: 90%;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: left;
    margin-bottom: 2.7rem;
}

.menu-link {
    font-family: var(--font-secundary);
    font-size: 1.3rem;
    color: var(--colorBlue);
    transition: color 1s;
    text-decoration: none;
}

.menu-link:hover {
    color: var(--colorMagenta); text-shadow: black 0.1em 0.1em 0.2em;
    transition: background 0.7s;
}
/* FIN MENU HAMBURGUER*/


.sectionImg{
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(146,255,115,1) 0%, rgba(24,7,129,1) 100%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Container__SectionImg{
    width: 50%;
}

.img__baner{
    width: 50%;
    border-radius: 40%;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
}

.container__title{
    width: 50%;
}
.title__Principal{
    font-family: var(--font-primary);
    text-shadow: var(--colorBlue) 0.1em 0.1em 0.2em;
    font-size: 500%;
    padding-top: 2%;
    text-align: center;
    color: var(--colorMagenta);
    animation: animationFont 1s 0.5s forwards;
}

/* Animation Font*/

@keyframes animationFont {
    0% {
    transform: translateY(20rem) rotateY(-100deg);
    }
    100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
    }
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

body{
    word-wrap: break-word;
    overflow-wrap: break-word;
}
    /* NOSOTROS */

.section__SobreMi{
    width: 100%;
    height: 120vh;
    background-color: var(--colorYellow);
    padding-top: 5%;
}

.container__SobreMi{
    max-width: 1930px;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: var(--colorGreen);
    padding: 6%;
    border-radius: 20px 20px 0 0;
    box-shadow:  black 0.3em 0.3em 0.5em;
}

.container__MyName{
    margin-bottom: 2.5rem;
}

.subTitle__MyName{
    font-family: var(--font-secundary);
    font-size: 4rem;
    color: var(--colorMagenta);

}

.text__SobreMi{
    font-family: var(--font-text);
    font-size: 2rem;
    color: var(--colorBlue);
    letter-spacing: 0.2rem;
    text-align: justify;
    padding-bottom: 2%;
}


.btn__sobreMi{
    
}

button,button::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
  }
  
  button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'GLITCH';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
   
  }
  
  button:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  button:hover {
    background-color: transparent;
    
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
  

/* CARD SERVICIOS*/

.servicios{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding-top: 40px;
}

.card{
    position: relative;
    width: 30rem;
    height: 35rem;
    background-color: #00000096;
    overflow: hidden;
    margin-bottom: 5%;
    cursor: context-menu;
    border-radius: 20px 20px 0 0;
    box-shadow:  black 0.3em 0.3em 0.5em;
}

.card__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.15;
    transition: opacity 1, scale 0.35s;
}

.card:hover{
    opacity: 0.5;
    scale: 1;
}

.card__body{
    position: absolute;
    inset: 0;
    padding: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    justify-content: center;
}

.card__body::before{
    content: "";
    position: absolute;
    inset: 20px;
    border: 4px solid #fff;
    opacity: 0;
    scale: 1.25;
    transition: opacity 0.25, scale 0.25s;
}

.card:hover{
    opacity: 1;
    scale: 1;
}

.card__title{
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}

.card__description{
    font-size: 25px;
    opacity: 0;
    translate: -25px;
    transition: opacity 0.25, translate 0.25;
}

.card:hover .card__description{
    opacity: 1;
    translate: 0;
}

/* -------------------------------------------- FORMULARIO ------------------------------------------*/
.container__Form{
    background-color: #91ff7348;
    width: 50%;
    margin: auto;
    padding: 50px;
    margin-bottom: 8%;
    border-radius: 20px 20px 0 0;
    box-shadow:  black 0.3em 0.3em 0.5em;
}


.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.formulario__label {
    display: block;
    padding: 10px 0;
    font-size: 2rem;
    color: var(--colorBlue);
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 90%;
    background: transparent;
    border-bottom: 2px solid var(--colorBlue);
    border-right: none;
    border-top: none;
    border-left: none;
    color: var(--colorBlue);
    font-size: 19px;
    outline: none;
    line-height: 45px;
    padding: 0 10px;
    transition: all 1s;
}

.formulario__validacion-estado {
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 1000;
    font-size: 16px;
    opacity: 0;
}

.formulario__input:focus {
    box-shadow: 0 0 5px var(--colorBlue);
}

.formulario__input-error {
    font-size: 18px;
    margin-bottom: 0;
    display: none;
    color: var(--colorMagenta);
}

.formulario__input-error-activo {
    display: block;
}

.formulario__span {
    font-size: 1.1em;
    font-weight: 100;
}

.formulario__checkbox{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.formulario__grupo-terminos {
    text-align: center;
}

.formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    display: none;
    /* height: 45px; */
    /* line-height: 45px; */
    padding: 15px;
    border-radius: 5px;
    background: var(--pink);
    text-align: center;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    display: inline-block;
    color: #fff;
    justify-self: center;
    text-decoration: none;
    padding: 13px 30px;
    border: none;
    border-radius: 32px;
    font-family: var(--font-text);
    background: -webkit-linear-gradient(
        to right,
        #3c173d,
        #b70488
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #520a5c,
        #b70488
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    opacity: 8;
    font-weight: 700;
}

.formulario__btn:hover {
    opacity: 0.9;
    color: beige;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: var(--colorGreen);
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo { 
    display: block;
}


/* --------------------------------------------- VALIDACIÓN ----------------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #6ff15ec0;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: var(--colorMagenta);
}


.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: var(--colorMagenta);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid var(--colorMagenta);
    
}


/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/


/* FOOTER*/
footer{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
    color: var(--colorBlue);
    background-color: var(--colorGreen);
    padding: 30px;
}

.footer__Logo{
    width: 20%;
}

.footer__RRSS{
    margin-top: 30px;
    margin-left: 40px;
    width: 4%;
}

.container__FooterLogo{
    width: 40%;
}

footer .footer__legal{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 28px;
    font-style: italic;
}

footer .footer__legal > a{
    margin: 0 4px;
}

footer .footer__legal > span{
    margin-right: 10px;
    font-family: var(--font-secundary);
    
}

hr{
    width: 100%;
    height: 1px;
    background-color: var(--colorMagenta);
    margin-top: 20px;
}

@media (width < 1200px) {

}



@media (width < 1024px) {
    
}


@media (width < 800px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    
        .container__LinkNav{
            display: none;
        }
        .hamburguer{
            display: flex;
        }

        .title__Principal{
            font-size: 150%;
        }

        .subTitle__MyName{
            font-size: 2.3rem;
        }

        .text__SobreMi{
            font-size: 1.9rem;
        }

        .formulario{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .container__Form{
            width: 90%;
        }

        .formulario__btn{
            font-size: 0.5rem;
        }

        footer{
            flex-direction: column;
        }

        footer .footer__Bottom{
            gap: 16px;
            flex-direction: column-reverse;
        }

        .footer__RRSS{
            width: 12%;
        }
}


@media (width <= 620px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    
        .container__LinkNav{
            display: none;
        }
        .hamburguer{
            display: flex;
        }

        .subTitle__MyName{
            font-size: 1.9rem;
        }

        .text__SobreMi{
            font-size: 1.5rem;
        }

        footer{
            margin: 0 auto;
            max-width: 600px;
            padding: 0;
        }

        footer .footer__Bottom .footer__Link > a{
            font-size: 24px;
        }
}

@media (max-width: 420px) {
    header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .container__LinkNav{
        display: none;
    }

    .subTitle__MyName{
        font-size: 1.7rem;
    }

    .text__SobreMi{
        font-size: 1.2rem;
    }

    footer{
        text-align: center;
        align-items: center;
    }

    footer .footer__Top .footer__Link{
        grid-template-columns: 1fr;
    }

    footer .footer__Bottom{
        align-items: center;
    }

    footer .footer__legal > span{
        display: block;
        margin-right: 0;
        margin-bottom: 2px;
    }
}

